.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# Also don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/zero-installs

#!.yarn/cache
.pnp.*

# esbuild copies its exe here when using pnpapi...
/node_modules/.cache/esbuild/
